@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700');

body,html{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/*css for HEADER PART*/

.header {
    margin:0 9rem;  /*space on the left and right*/
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex:1;
}

.hero {
    font-size: 2.5rem;
    color: #F9FAF8;
    cursor: pointer;
}

li {
    font-size: 1.125rem;
    color: #E5E7EB;
}

li:hover{
    color: gray;
}

a{
    text-decoration: none;
    cursor: pointer;
    color:inherit;
}

ul {
    display: flex;
    flex:0 1 0;
    gap: 2.5rem;
    list-style-type: none;
}

.blue {
    background-color: #1F2937;
}

.hero-main-text{
    font-size: 3rem;
    font-weight: 800;/*extra bold*/
    color: #F9FAF8;
}
.hero-secondary-text{
    font-size: 1.125rem;
    color: #E5E7EB;
    /* margin-top: -2.2rem; */
}

.header-container{
    display: flex;
    margin: 3rem 0;
    flex: 1;
    align-items: center;
    gap: 1.5rem;
}

.container-left{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
}

.container-right {
    display: flex;
    flex: 1;
}

.container-right img{
    max-width: 100%;
    max-height: 100%;
}


/*button CSS used by both singup buttons , second button is slightly different*/

.sign-btn,.signup-child button{
    padding: 0.625rem  1.25rem;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 0.375rem;
    background-color: #3882F6;
    font-size: large;
    font-weight: bold;
    width: fit-content;
    transition: background-color 0.5s ease; 
}

.sign-btn:hover ,.signup-child button:hover {
    background-color: #E5E7EB;
    color: black;
}


/*information*/
.information{
    margin:0 8rem;
    display: flex;
    flex-direction: column;
}
.information-header-text{
    font-size: 2.25rem;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.information-image-container{
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.625rem;
}

.image{                            /*image divS*/
    width: 13rem;
    height: 13rem;
    text-align: center;
    font-weight: bolder;
}

.image img{
    /* border: 0.25rem solid #3882F6; */
    border-radius: 4%;
    width: 100%; /* Adjust to your preferred width */
    height: 100%; /* Adjust to your preferred height */
    /* overflow: hidden; */
}

/*QUOUTE SECTION*/

.quote-section{
    display: flex;
    flex: 1;
    background-color: #E5E7EB;
    margin-top: 7.5rem;
    padding: 0.016rem;
}

.quote-text{
    text-align: center;
    margin:8% 14%;
    font-size: 2.25rem;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

/*signup*/
.signup{
display: flex;
flex-direction: column;
flex: 1;
}
.signup-child{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 0;
    border-radius: 0.5rem;
    margin:8% 14%;
    background-color: #3882F6;
    color: #F9FAF8;
}

.signup-child button{
    border: 1px solid  #F9FAF8;
}

.signup-child p{
margin-top: -5%;
font-weight: lighter;
}

/*footer*/
footer{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 1rem 0;

}